body {
	background: #6699ff;
	font-size: 100%;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	/*background: white;*/
	overflow: auto;
}
header h1 {
	float: left;
	width: 570px;
        font-size: xx-large;
        font-family: 'Denk One', sans-serif;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}

footer{
	overflow: auto;
}
footer .contact {
	float: left;
	width: 570px;
}
footer .sitemap {
	float: right;
	width: 285px;
}
h3, h4 {
	font-family: 'Denk One', sans-serif;
}

h2 {
	font-size: x-large;
        font-family: 'Denk One', sans-serif;
}
