body {
	background: #6699ff;
	font-size: 100%;
	font-style: italic;
}
header, main, footer {
	min-width: 855px;
}
header {
	/*background: white;*/
	overflow: auto;
}
div h2 {
	width: 570px;
        font-size: large;
        font-family: 'Denk One', sans-serif;
}
h2 {
	width: 570px;
        font-size: large;
        font-family: 'Denk One', sans-serif;
}
main {
	background: white;
	overflow: auto;
}
